<a href="https://colab.research.google.com/github/leticiaholsback/Aprendizado/blob/main/Operacoes_com_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import numpy as np
import pandas as pd

In [5]:
labels = ['a','b','c']
minha_lista = [10,20,30]
arr = np.array([10,20,30])
d = {'a':10,'b':20,'c':30}

In [6]:
pd.Series(data=minha_lista)
#0,1,2 são os indices dos dados (seriam os numeros das linha no excel)

0    10
1    20
2    30
dtype: int64

In [7]:
#nesse comando estou pedindo para cirar os indices como eu quero, e nao 0,1,2
#pedi para minha para virar indice e labels seria meu conj de dados
pd.Series(data= labels , index= minha_lista)

10    a
20    b
30    c
dtype: object

In [8]:
#é o mesmo comando, mas o pandas entende que o primeiro sempre sera o conj de dados(data) e o indice a minha lista
#pçosso apagar o data e index que vai funcionar da mesma forma
pd.Series(labels , minha_lista)

10    a
20    b
30    c
dtype: object

In [9]:
pd.Series(d)
#d é um dicionario e ja esta com chaves e valores marcados

a    10
b    20
c    30
dtype: int64

In [10]:
lista_1 = ['a','b','c']

In [11]:
pd.Series(data=lista_1 , index=(1, 2, 3))

1    a
2    b
3    c
dtype: object

In [12]:
from numpy.random import randn

***(: DATAFRAME :) ***


---

In [13]:
df= pd.DataFrame(randn(5,4), index=['A','B','C','D','E'], columns= 'w x y z'.split())

In [ ]:
df

          w         x         y         z
A  0.888467  0.289571 -0.274847 -0.184924
B  1.937338  0.171513 -0.256764  0.444111
C -1.408689 -0.903575 -0.009410  0.347813
D -0.065006  2.637296  1.199762 -0.926975
E  1.481049  1.565009  0.890240 -0.929119

In [14]:
type(df)

pandas.core.frame.DataFrame

In [15]:
df[['w']]

          w
A  1.334990
B  0.596102
C -0.597264
D -0.863213
E -2.792778

In [ ]:
df['new'] = df['w']
#incliu a coluna new com os valores da W

In [ ]:
df ['new'] = df['w'] + df['y']
#somei os valores das colunas w e y na new

In [ ]:
df

          w         x         y         z       new
A  0.888467  0.289571 -0.274847 -0.184924  0.613620
B  1.937338  0.171513 -0.256764  0.444111  1.680574
C -1.408689 -0.903575 -0.009410  0.347813 -1.418099
D -0.065006  2.637296  1.199762 -0.926975  1.134756
E  1.481049  1.565009  0.890240 -0.929119  2.371288

In [ ]:
df.drop ('new', axis=1)
#tirar coluna new, mas nao é definitivo, se eu executar df, vai aparecer a coluna new

          w         x         y         z
A  0.888467  0.289571 -0.274847 -0.184924
B  1.937338  0.171513 -0.256764  0.444111
C -1.408689 -0.903575 -0.009410  0.347813
D -0.065006  2.637296  1.199762 -0.926975
E  1.481049  1.565009  0.890240 -0.929119

In [ ]:
df.drop('new', axis=1, inplace=True)
# nesse caso está excluindo definitivamente a coluna new do dataFrame original, toda 'exclusao' anterior
#era como se fosse numa cópia do dataframe orignal. agora foi excluido definitivamente

In [ ]:
df

          w         x         y         z
A  0.888467  0.289571 -0.274847 -0.184924
B  1.937338  0.171513 -0.256764  0.444111
C -1.408689 -0.903575 -0.009410  0.347813
D -0.065006  2.637296  1.199762 -0.926975
E  1.481049  1.565009  0.890240 -0.929119

In [ ]:
df.loc['A']
# aqui procoura a linha A, e ele vai mostrar os valores e as colunas respectivas da linha A

w    0.888467
x    0.289571
y   -0.274847
z   -0.184924
Name: A, dtype: float64

In [ ]:
df.iloc[0,2]
#trabalho valores de forma numerica.Sempre passa primeiro o indice da linha e dpeois o indica da coluna
#linha 0 coluna 2 (linah 1 e coluna 3)

-0.2748470795495284

In [16]:
df > 0
# pega os valores do DataFrame e coloca False nos que forem menor que 0 e True nos maiores que 0

       w      x      y      z
A   True  False  False  False
B   True   True   True  False
C  False  False   True  False
D  False  False  False   True
E  False  False  False  False

In [17]:
df[ df>0]
#aqui mostra O DATAFRAME quando ele for maior que zero. apenas os numeros maiores

          w        x         y         z
A  1.334990      NaN       NaN       NaN
B  0.596102  0.33981  0.120804       NaN
C       NaN      NaN  0.079768       NaN
D       NaN      NaN       NaN  0.746663
E       NaN      NaN       NaN       NaN

In [18]:
df[ 'y']> 0
# todos os valores de Y maiores que 0, essa forma de analisar se assemelha a um filtro do excel

A    False
B     True
C     True
D    False
E    False
Name: y, dtype: bool

In [32]:
df

          w         x         y         z
A  1.334990 -2.093836 -0.357411 -0.368782
B  0.596102  0.339810  0.120804 -0.171067
C -0.597264 -0.046280  0.079768 -1.108920
D -0.863213 -1.038768 -0.132590  0.746663
E -2.792778 -0.276015 -1.330277 -1.060266

In [20]:
df[df['y']>0]
# ATENÇÃO, pedi para filtrar apenas os valores de Y maior que 0 no fata frame
# ou seja na coluna Y tem apenas 2 valores maiores que 0, e mostrou, excluiu linha a,d,e que sao menores que 0 e
#coinsequentemente mostrou os outros valores das outras colunas do dt, mas as da coluna y menores que 0, exclui

          w        x         y         z
B  0.596102  0.33981  0.120804 -0.171067
C -0.597264 -0.04628  0.079768 -1.108920

In [25]:
df[(df['y']>0) & (df['w']>0)]
# analise bem os pares de coclhetes e parenteses
#mostrou apenas a linha que tem em ambas os valores maiores que 0

          w        x         y         z
B  0.596102  0.33981  0.120804 -0.171067

In [33]:
(df['y']>0) & (df['w']>0)
#se tirar o df[] do inicio ele mostra como se fosse booleano nas colunas, ou seja apenas a B possui valores 
#maiores que 0 em y e w

A    False
B     True
C    False
D    False
E    False
dtype: bool

In [34]:
df[~(df['y'] > 0) & ~(df['w'] > 0)]
# aqui mostrou com o ~(not) apenas os valores que NÃO SÃO maiores que 0 nas colunas y e w. o mesmo poderia ser usado com o <

          w         x         y         z
D -0.863213 -1.038768 -0.132590  0.746663
E -2.792778 -0.276015 -1.330277 -1.060266

In [35]:
df[(df['y']<0) & (df['w']<0)]
# mesmo resultado do cod acima, sem usar o ~

          w         x         y         z
D -0.863213 -1.038768 -0.132590  0.746663
E -2.792778 -0.276015 -1.330277 -1.060266

In [37]:
df.loc[['A', 'B'], ['w']]
#quero valores das linhas a e b da coluna w

          w
A  1.334990
B  0.596102

In [43]:
df.iloc[:-1, 1:]
#tirei a ultima linha e a primeira coluna

          x         y         z
A -2.093836 -0.357411 -0.368782
B  0.339810  0.120804 -0.171067
C -0.046280  0.079768 -1.108920
D -1.038768 -0.132590  0.746663

:) **Operações com Indices** (::

---

In [44]:
df.index
#linhas

Index(['A', 'B', 'C', 'D', 'E'], dtype='object')

In [45]:
df.columns
#colunas

Index(['w', 'x', 'y', 'z'], dtype='object')

In [46]:
df

          w         x         y         z
A  1.334990 -2.093836 -0.357411 -0.368782
B  0.596102  0.339810  0.120804 -0.171067
C -0.597264 -0.046280  0.079768 -1.108920
D -0.863213 -1.038768 -0.132590  0.746663
E -2.792778 -0.276015 -1.330277 -1.060266

In [47]:
df.reset_index()
#mostra a numeraçãodas linhas

  index         w         x         y         z
0     A  1.334990 -2.093836 -0.357411 -0.368782
1     B  0.596102  0.339810  0.120804 -0.171067
2     C -0.597264 -0.046280  0.079768 -1.108920
3     D -0.863213 -1.038768 -0.132590  0.746663
4     E -2.792778 -0.276015 -1.330277 -1.060266

In [48]:
df.reset_index(inplace=True)
#ATENÇÃO 
#dessa forma, inplace, diferente do iloc, ele muda o dataframe. Executando esse código o dataframe vai passar a ter
#numeracao das linhas e o index com as letras das linhas

In [49]:
df

  index         w         x         y         z
0     A  1.334990 -2.093836 -0.357411 -0.368782
1     B  0.596102  0.339810  0.120804 -0.171067
2     C -0.597264 -0.046280  0.079768 -1.108920
3     D -0.863213 -1.038768 -0.132590  0.746663
4     E -2.792778 -0.276015 -1.330277 -1.060266

In [50]:
df.set_index('index', inplace=True)
#ATENÇÃO 
#agora dessa forma o data frame volta para a versao anterior, aqui, estou excluindo a coluna  com os numeros da linha e deixando apenas a index

In [51]:
df

              w         x         y         z
index
A      1.334990 -2.093836 -0.357411 -0.368782
B      0.596102  0.339810  0.120804 -0.171067
C     -0.597264 -0.046280  0.079768 -1.108920
D     -0.863213 -1.038768 -0.132590  0.746663
E     -2.792778 -0.276015 -1.330277 -1.060266

In [64]:
novo_ind = ' LE TI CI A $ '.split()
#quando for inserir uma nova coluna, deve ter a mesma quantia de linha

In [65]:
novo_ind

['LE', 'TI', 'CI', 'A', '$']

In [66]:
df['a'] = novo_ind
#inseri a coluna 'a' com os valores de novo_ind

In [60]:
df

              w         x         y         z   a
index
A      1.334990 -2.093836 -0.357411 -0.368782  LE
B      0.596102  0.339810  0.120804 -0.171067  TI
C     -0.597264 -0.046280  0.079768 -1.108920  CI
D     -0.863213 -1.038768 -0.132590  0.746663   A
E     -2.792778 -0.276015 -1.330277 -1.060266   $

In [67]:
df.set_index('a')
#passou a nova coluna para o inicio e o index, abcd foi retirado, apenas na visualização

           w         x         y         z
a
LE  1.334990 -2.093836 -0.357411 -0.368782
TI  0.596102  0.339810  0.120804 -0.171067
CI -0.597264 -0.046280  0.079768 -1.108920
A  -0.863213 -1.038768 -0.132590  0.746663
$  -2.792778 -0.276015 -1.330277 -1.060266

In [68]:
df

              w         x         y         z   a
index
A      1.334990 -2.093836 -0.357411 -0.368782  LE
B      0.596102  0.339810  0.120804 -0.171067  TI
C     -0.597264 -0.046280  0.079768 -1.108920  CI
D     -0.863213 -1.038768 -0.132590  0.746663   A
E     -2.792778 -0.276015 -1.330277 -1.060266   $

In [69]:
df.reset_index().set_index('a')
#agora aqui manteve o index Abcd... e o novo feito com a letra a

   index         w         x         y         z
a
LE     A  1.334990 -2.093836 -0.357411 -0.368782
TI     B  0.596102  0.339810  0.120804 -0.171067
CI     C -0.597264 -0.046280  0.079768 -1.108920
A      D -0.863213 -1.038768 -0.132590  0.746663
$      E -2.792778 -0.276015 -1.330277 -1.060266