<a href="https://colab.research.google.com/github/leticiaholsback/Aprendizado/blob/main/pandas_Series.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import numpy as np
import pandas as pd

In [ ]:
labels = ['a','b','c']
minha_lista = [10,20,30]
arr = np.array([10,20,30])
d = {'a':10,'b':20,'c':30}

In [ ]:
pd.Series(data=minha_lista)
#0,1,2 são os indices dos dados (seriam os numeros das linha no excel)

0    10
1    20
2    30
dtype: int64

In [ ]:
#nesse comando estou pedindo para cirar os indices como eu quero, e nao 0,1,2
#pedi para minha para virar indice e labels seria meu conj de dados
pd.Series(data= labels , index= minha_lista)

10    a
20    b
30    c
dtype: object

In [ ]:
#é o mesmo comando, mas o pandas entende que o primeiro sempre sera o conj de dados(data) e o indice a minha lista
#pçosso apagar o data e index que vai funcionar da mesma forma
pd.Series(labels , minha_lista)

10    a
20    b
30    c
dtype: object

In [ ]:
pd.Series(d)
#d é um dicionario e ja esta com chaves e valores marcados

a    10
b    20
c    30
dtype: int64

In [ ]:
lista_1 = ['a','b','c']

In [ ]:
pd.Series(data=lista_1 , index=(1, 2, 3))

1    a
2    b
3    c
dtype: object

In [6]:
from numpy.random import randn

In [7]:
df= pd.DataFrame(randn(5,4), index=['A','B','C','D','E'], columns= 'w x y z'.split())

In [8]:
df

          w         x         y         z
A  0.888467  0.289571 -0.274847 -0.184924
B  1.937338  0.171513 -0.256764  0.444111
C -1.408689 -0.903575 -0.009410  0.347813
D -0.065006  2.637296  1.199762 -0.926975
E  1.481049  1.565009  0.890240 -0.929119

In [9]:
type(df)

pandas.core.frame.DataFrame

In [13]:
df[['w']]

          w
A  0.888467
B  1.937338
C -1.408689
D -0.065006
E  1.481049

In [16]:
df['new'] = df['w']
#incliu a coluna new com os valores da W

In [21]:
df ['new'] = df['w'] + df['y']
#somei os valores das colunas w e y na new

In [22]:
df

          w         x         y         z       new
A  0.888467  0.289571 -0.274847 -0.184924  0.613620
B  1.937338  0.171513 -0.256764  0.444111  1.680574
C -1.408689 -0.903575 -0.009410  0.347813 -1.418099
D -0.065006  2.637296  1.199762 -0.926975  1.134756
E  1.481049  1.565009  0.890240 -0.929119  2.371288

In [23]:
df.drop ('new', axis=1)
#tirar coluna new, mas nao é definitivo, se eu executar df, vai aparecer a coluna new

          w         x         y         z
A  0.888467  0.289571 -0.274847 -0.184924
B  1.937338  0.171513 -0.256764  0.444111
C -1.408689 -0.903575 -0.009410  0.347813
D -0.065006  2.637296  1.199762 -0.926975
E  1.481049  1.565009  0.890240 -0.929119

In [24]:
df.drop('new', axis=1, inplace=True)
# nesse caso está excluindo definitivamente a coluna new do dataFrame original, toda 'exclusao' anterior
#era como se fosse numa cópia do dataframe orignal. agora foi excluido definitivamente

In [25]:
df

          w         x         y         z
A  0.888467  0.289571 -0.274847 -0.184924
B  1.937338  0.171513 -0.256764  0.444111
C -1.408689 -0.903575 -0.009410  0.347813
D -0.065006  2.637296  1.199762 -0.926975
E  1.481049  1.565009  0.890240 -0.929119

In [26]:
df.loc['A']
# aqui procoura a linha A, e ele vai mostrar os valores e as colunas respectivas da linha A

w    0.888467
x    0.289571
y   -0.274847
z   -0.184924
Name: A, dtype: float64

In [27]:
df.iloc[0,2]
#trabalho valores de forma numerica.Sempre passa primeiro o indice da linha e dpeois o indica da coluna
#linha 0 coluna 2 (linah 1 e coluna 3)

-0.2748470795495284